.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em; }

.paragraph {
  margin-bottom: 1em;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }


.farmers-only {
  background-color: #fff;
  color: #00d1b2; }

  
.wow {
  position: relative !important;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 300%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 48em) {
  .section {
    padding: 1rem 1.5rem !important;
  }

  figure.image {
    padding: .5rem .5em;
  }

  .content figure {
    margin-left: 0em;
    margin-right: 2em;
    text-align: left;
  }
}


.bg-img {
  background: 
    url('../../images/green-bg.png')
    no-repeat;
  background-size: cover;
  background-color: transparent;
}